# Example PVC using MinIO S3 bucket
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mirai-minio-pv
spec:
  capacity:
    storage: 100Gi  # This is logical, actual limit is your MinIO storage
  accessModes:
    - ReadWriteMany  # S3 supports multiple readers/writers
  persistentVolumeReclaimPolicy: Retain
  storageClassName: minio-s3
  csi:
    driver: s3.csi.min.io
    volumeHandle: mirai-bucket
    volumeAttributes:
      mounter: rclone
      options: "--vfs-cache-mode=full"
      bucket: mirai
      path: /data
    nodePublishSecretRef:
      name: minio-secret
      namespace: default
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mirai-data-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: minio-s3
  volumeName: mirai-minio-pv