apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: coredns-pdb
  namespace: kube-system
spec:
  minAvailable: 1
  selector:
    matchLabels:
      k8s-app: kube-dns
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cloudflared-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: cloudflared
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: mirai-frontend-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: mirai-frontend
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: mirai-prototype-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: mirai-prototype